!!!
%html{:lang => "en"}
	%head
		= javascript_include_tag "application"
		= csrf_meta_tags
	%body
		%header#header
			- if current_user
				= link_to "Logout", destroy_user_session_path, :method => :delete	
				= link_to "Dashboard", root_path
				= link_to "Create a meeting", new_meeting_path
		= yield